{% extends "base.html" %}

{% block content %}
<div>
  <h2>Projects</h2>
  <a href="{% url 'project_new'%}" class="btn btn-primary btn-md pull-right">Add New Project</a>

</div>
<div style="margin-top:100px;" class="table-responsive">
  {% if object_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Client Name</th>
        <th>Start Date</th>
        <th>Hours Spent</th>
        <th>Cost for the project</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
    	{% for project in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></td>
        <td>{{ project.client.name }}</td>
        <td>{{ project.start_date }}</td>
        <td>{{ project.get_total_hours }}</td>
        <td>{{ project.get_total_cost }}</td>
        <td><a href="{% url 'project_edit' project.id %}">Edit</a></td>
        <td><a href="{% url 'project_delete' project.id %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p style="text-align: center;">No Projects Found</p>
  {% endif %}
</div>
{% endblock content %}
