{% extends "base.html" %}

{% block content %}
<div>
  <h2>Company's</h2>
  <a href="{% url 'company_new'%}" class="btn btn-primary btn-md pull-right">Add New Company</a>

</div>
<div style="margin-top:100px;" class="table-responsive">
  {% if object_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Description</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
    	{% for company in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'company_detail' company.id %}">{{ company.name }}</a></td>
        <td>{{ company.description }}</td>
        <td><a href="{% url 'company_edit' company.id %}">Edit</a></td>
        <td><a href="{% url 'company_delete' company.id %}">Delete</a></td>
      </tr>
       {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p style="text-align: center;">No Companies Found</p>
  {% endif %}
</div>
{% endblock content %}
