{% extends "base.html" %}
{% block content %}
    <style>
        .card {
            border-radius: 6px;
            box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
            background-color: #FFFFFF;
            color: #252422;
            margin-bottom: 20px;
            position: relative;
            z-index: 1;
        }
        .card .content {
                padding: 15px 15px 10px 15px;
            }
            .col-xs-7 {
    width: 58.33333333%;
}
.card .numbers {
    font-size: 2em;
    text-align: right;
}
.content {
    padding: 100px 15px;
    min-height: calc(100% - 123px);
}

    </style>
<div class="content">
    <div style= "margin-top:-10px" class="row">
        <h2 > Dashboard Summary </h2>
    </div>
    <div style= "margin-top:20px" class = "row">
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <i class="fa fa-book fa-5x"></i>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p> Clients </p>
                                {{context_dict.no_of_clients}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <i class="fa fa-calendar-o fa-5x" >
                            </i>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p> Projects </p>
                                {{context_dict.no_of_projects}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <i class="fa fa-credit-card-alt fa-5x"></i>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>  Costs </p>
                                {{context_dict.total_cost}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}