<li class="active"><a href="{% url 'dashboard' %}">Home</a></li>

<li class="dropdown">
  <a href="" class="dropdown-toggle" data-toggle="dropdown">
    Companies <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="">All Companies</a></li>
    <li><a href="">Create a New Company</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="" class="dropdown-toggle" data-toggle="dropdown">
    Clients <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="">All Clients</a></li>
    <li><a href="">Create a New Client</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="" class="dropdown-toggle" data-toggle="dropdown">
    Projects <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="">All Projects</a></li>
    <li><a href="">Create a New Project</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="" class="dropdown-toggle" data-toggle="dropdown">
    Daily Sprints <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="">All Daily Sprints</a></li>
    <li><a href="">Create a New Daily Sprint</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="" class="dropdown-toggle" data-toggle="dropdown">
    Technologies <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="">All Technologies</a></li>
    <li><a href="">Create a New Technology</a></li>
  </ul>
</li>
